.transaction_history {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background: url('https://images.wallpaperscraft.com/image/houseplant_pot_table_106649_3840x2160.jpg');
  background-size: cover;
}

.table_main_2:nth-child(2n + 2) {
  background: rgba(128, 128, 128, 0.7);
}
.table_main:hover {
  transition: none;
  transform: none;
  background-color: rgba(192, 159, 93, 0.7);
}

.line_size,
.line_size2 {
  width: 300px;
  text-align: center;
  border: 1px solid black;
}

.line_size {
  background-color: rgba(192, 159, 93, 0.7);
  font-size: 20px;
}
.line_size2 {
  /* background-color: rgb(153, 125, 125); */
  font-size: 20px;
  color: white;
}

tr {
  border: 1px solid black;
}
tr:hover {
  background-color: rgba(192, 159, 93, 0.7);
  transform: scale(1.01, 1.01);
  transition: transform 0.3s linear;
}
