* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pricing_plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 60px 0;
  /* width: 600px; */
  /* border: 1px solid black; */
}
